html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #212327;
  text-transform: uppercase;
}

body {
  max-width: 1492px;
  margin: 0 auto;
}

/* COMMON */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-act {
  width: 209px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 19px;
  background-color: white;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #ee3b33;

  border: 3px solid #ee3b33;
  border-radius: 3px;
}

.btn-act--accent {
  background-color: #ee3b33;
  color: #ffffff;
}

.img-wrap {
  display: flex;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** {
  outline: 1px solid gray;
}*/

/* HEADER */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-right: 64px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
}

.site-menu__item {
  padding: 39px 34px 36px;
  border-bottom: 3px solid #ffffff;
}

.site-menu__item:first-child {
  padding-left: 38px;
}

.site-menu__item-current {
  border-bottom: 3px solid #ee3b33;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.user-menu__item {
  padding: 37px 16px 41px 16px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 19px;
}

/* LOGO */

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  padding: 10px 22px 9px 24px;

  background-color: #ee3b33;
  color: #ffffff;
}

.logo__name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__name-small {
  font-size: 12px;
}

/* SITE MENU */

.site-menu__item a {
  font-weight: 500;
  letter-spacing: 0.32px;
}

/* USER MENU */

.user-menu__item a {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.32px;
}

/* MODELS ROW */

.models__list-wrap {
  width: 100%;
  min-height: 167px;
  margin-bottom: 110px;

  border-top: 1px solid #dadfe6;
  border-bottom: 1px solid #dadfe6;
}

.models__list-wrap .container {
  max-width: 1280px;
  margin: 0 auto;
}

.models__list {
  margin: 0 auto;

  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.model {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 3px solid #ffffff;
  cursor: pointer;
}

.model--current {
  border-bottom: 3px solid #ee3b33;
}

.model__name {
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 13px;
  font-weight: 500;

  cursor: pointer;
}

/* DESC */

.desc .container {
  width: 100%;
  padding-left: 90px;
  padding-right: 90px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Desc Photo */

.desc__photo {
  position: relative;
  padding-top: 55px;
  background: #ffffff url("../img/power-bg.png") no-repeat center top;
}

.enlarge-btns {
  position: absolute;
  bottom: 0;
  left: 0;
}

.enlarge-btn {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 32px;
  height: 32px;

  border: none;
  background: transparent url("../img/btn-plus.png") no-repeat center center;

  cursor: pointer;
}

.enlarge-btn--1 {
  left: 77px;
  bottom: 235px;
}

.enlarge-btn--2 {
  left: 384px;
  bottom: 403px;
}

.enlarge-btn--3 {
  left: 630px;
  bottom: 230px;
}

/* Desc Info */

.model__info-block {
  margin-bottom: 78px;
}

.info {
  width: 549px;
  margin-left: 4px;
}

.info__title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 17px;
}

.info__title {
  font-size: 75.08px;
  line-height: 76px;
  font-weight: 500;
  margin-right: 45px;
}

.info__years {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.year {
  padding-left: 13px;
  padding-right: 13px;

  color: #81848a;

  border-right: 3px solid #e5e7ed;
}

.year:first-child {
  padding-left: 0;
}

.year:last-child {
  padding-right: 0;
  border-right: none;
}

.year--current {
  color: #ee3b33;
}

.info__price-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 22px;
  padding-left: 5px;
}

.info__price-wrap .text {
  font-size: 12.51px;
  font-weight: 500;
  color: #81848a;
  margin-bottom: 2px;
}

.info__price {
  font-size: 25.03px;
  font-weight: 500;
}

.info__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  text-transform: none;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 5px;
  margin-bottom: 37px;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  background-color: #ffffff;

  margin-right: 20px;

  border: 1px solid #cbcccf;
  border-radius: 50%;
}

.color:last-child {
  margin-right: 0;
}

.color--current {
  border: 1px solid #ee3b33;
}

.color label {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  cursor: pointer;
}

.color--vio-gray label {
  background: linear-gradient(to bottom, #5c68b5 0%, #5c68b5 50%, #adacaa 50%, #adacaa 100%);
}

.color--asphalt-gray label {
  background: linear-gradient(to bottom, #545351 0%, #545351 50%, #adacaa 50%, #adacaa 100%);
}

.color--yellow-black label {
  background: linear-gradient(to bottom, #f5cc22 0%, #f5cc22 50%, #383735 50%, #383735 100%);
}

.info__text {
  width: 447px;
  padding-left: 5px;
  margin-bottom: 33px;
}

.info__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 5px;
}

.info__button:not(:last-child) {
  margin-right: 14px;
}

/* FEATURES */

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.features__list {
  width: 945px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 57px;

  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 75px;
  min-height: 74px;

  background-color: yellow;
  outline: 1px solid gray;

  cursor: pointer;
}

.feature label {
  padding-top: 14px;
  padding-bottom: 22px;

  font-size: 12.51px;
  font-weight: 500;
  color: #c8c8c8;

  cursor: pointer;
}

.feature--current label {
  font-size: 12.51px;
  font-weight: 500;
  color: #212327;
}

.feature-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.feature-desc__texts {
  width: 490px;
  padding-top: 12px;
}

.feature-desc__texts h3 {
  margin-bottom: 18px;
}

.feature-desc__texts h3:not(:first-child) {
  margin-top: 55px;
}

.feature-desc .img-wrap {
  margin-right: 100px;
}

.feature-desc__texts h3 {
  font-weight: 500;
}

.feature-desc__texts p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
}

/* PHOTOS */

.photos {
  display: grid;
  grid-template-columns: 351px 791px 351px;
  grid-template-rows: 257px 257px;
}

.photo--1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.photo--2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.photo--3 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.photo--4 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.photo--5 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

/* VIEW BLOCK */

.view__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.model__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view__toggle {
  display: flex;
  align-items: center;

  font-weight: 500;
}

.view__toggle svg {
  margin-right: 10px;
}

/* ADVANTAGES */

.advantage {
  display: flex;
}

.advantage:not(:last-child) {
  margin-right: 100px;
}

.advantage a {
  color: #c8c8c8;
  font-size: 16.27px;
  font-weight: 500;
}

/* ACESSORIES */

.accessories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.accessories__item {
  width: 203px;
}

.accessories__item:not(:last-child) {
  margin-right: 80px;
}

.ac-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ac-item .img-wrap {
  width: 203px;
  height: 203px;
}

.ac-item__title {
  font-weight: 500;
  margin-bottom: 3px;
}

.ac-item__price {
  font-size: 13.99px;
  color: #c8c8c8;
  font-weight: 500;
}

/* FOOTER */

.footer {
  background-color: #212327;
  color: #787e89;
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
}

.footer .container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer__top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 45px;
  padding-bottom: 45px;
}

.footer__links-wrap {
  width: 710px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  padding-top: 37px;*/
}

.footer__logo .img-wrap {
  width: 214px;
  height: 47px;
}

/* COPYRIGHT */

.footer__bottom {
  background-color: #191a1e;
  color: #787e89;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.footer__bottom .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 19px;
  padding-bottom: 19px;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.legal__item {
  display: flex;
}

.legal__item:not(:last-child) {
  margin-right: 27px;
}
